{% extends'base.html.twig' %}
{%  block body %}
    <h1>{{ titre }}</h1>
    <ul>
        {% for bureau in bureaux %}
            <li> {{ bureau.nom}}</li>
        {% endfor %}
    </ul>

{% endblock %}