{% extends'base.html.twig' %}
{%  block body %}
    <h1>{{ titre }}</h1>
    <ul>
        {% for batiment in batiments %}
            <li> {{ batiment.nom }}</li>
        {% endfor %}
    </ul>

{% endblock %}