{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username"> Nom d'utilisateur :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <br>
        <label for="password"> Mot de passe :</label>
        <input type="password" id="password" name="_password"/>
        <br>
        <button type="submit">login</button>
    </form>
{% endblock %}