{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ titre }}</h1>
        <ul>
            {% for ligue in ligues %}
                <li>{{ ligue.getNom() }}</li>
            {% endfor %}
        </ul>
{% endblock %}