{% extends'base.html.twig' %}
{%  block body %}
    <h1>{{ titre }}</h1>
    <ul>
        {% for sallereservable in sallereservables %}
            <li> {{ sallereservable.nom }} etage :  {{ sallereservable.getSituation.getNumero }}
                du batiment {{ sallereservable.getSituation.getBatiment.getNom }}</li>
            <br>
        {% endfor %}
    </ul>

{% endblock %}