<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ titre }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav">

                    <li><a class="nav-item nav-link" href="{{ path('afficherInformationsPratiques') }}"> Informations Pratiques </a></li>
                    <li><a class="nav-item nav-link" href="{{ path('planm2l') }}"> Plan de la M2L </a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Lister
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('listerLesLigues') }}">Ligues </a>
                            <a class="dropdown-item" href="{{ path('afficherBatiments') }}">Batiments </a>
                            <a class="dropdown-item" href="{{ path('listerLesEtages') }}">Etages </a>
                            <a class="dropdown-item" href="{{ path('bureau') }}">Bureaux</a>
                            <a class="dropdown-item" href="{{ path('bureauDisponible') }}">Bureaux disponible</a>
                            <a class="dropdown-item" href="{{ path('Categorie') }}">Categorie </a>
                            {% if is_granted('ROLE_USER') %}
                                <a class="dropdown-item" href="{{ path('sallereservables') }}">Salles reservables </a>
                            {% endif %}
                        </div>
                    </li>
                    <!--connexion ou deconnexon -->
                    {% if app.user %}
                        <li><a class="nav-item nav-link" href="{{ path('logout') }}">Déconnexion ({{ app.user.username }})<span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a class="nav-item nav-link" href="{{ path('login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

                    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
