{% extends'base.html.twig' %}
{%  block body %}
    <h1>{{ titre }}</h1>

    <ul>
        {% for categorie in categories %}
            <li> {{ categorie.typecategorie }}</li>

        {% endfor %}
    </ul>

{% endblock %}