{% extends 'base.html.twig' %}
{% block body %}
    <div class ="text-center">
        <h1>{{ titre }}</h1>
        <img src="img/m2lplanbatiment.png" />
        <br>
        <h2> Implantation des locaux en rez-de-chaussée des quatre bâtiments</h2>
        <img src="img/rdc.png"/>

    </div>

{% endblock %}